*{
    margin: 0;
    padding: 0;
}
/* begin form*/
.slider{
    width: 1300px;
    height: 400px;
    border: 1px solid #fed100;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
}

.big-ad{
    width: 1300px;
    height: 70px;
    border: 1px solid #fed100;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
}

.daly-sale{
    width: 1300px;
    height: 400px;
    border: 1px solid #fed100;
    background-color:#fed100 ;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
}

.top-phone{
    width: 1300px;
    height: 850px;
    border: 1px solid #fed100;
    margin: auto;
    border-radius: 5px;
    margin-top: 40px;
}

.top-labtop{
    width: 1300px;
    height: 850px;
    border: 1px solid #fed100;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/*end form*/